body{
	margin: 0;

}
h1{
	font-size: 65px;
	font-family: arial;
	position: absolute;
	margin-top: 30px;
	width: 100%;
	text-align: center;


}
h2{
	margin: 20px;
	font-size: 30px;

}

img{
	width: 100%;
}
div{
	margin: 20px;

}

p{
	text-align: justify-all;
	margin: 20px;
	font-size: 20px;

}